---
import Nav from '../components/Nav.astro'
import Hero from '../components/Hero.astro'
import firstGroupLogo from '../assets/FirstGroupLogo.png'
import firstGroupIcon from '../assets/FirstGroupLogo.ico'
import firstRingLogo from '../assets/FirstRingLogo.png'
import firstDevelopmentsLogo from '../assets/FirstDevelopmentsLogo.png'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href={firstGroupIcon} />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>First Group</title>
	</head>
	<body>
		<Nav></Nav>
		<Hero></Hero>
		<div class="container w-full">
			<div class="flex flex-wrap gap-3">
				<div class="w-full md:w-[48%] bg-white hover:bg-gray-100 rounded-lg border border-gray-200 p-5 justify-center items-center">
					<div class="my-10">
						<img class="mx-auto w-[30%] md:w-[20%]" src={firstRingLogo.src} alt="First Ring Logo" />
					</div>
					
					<div class="mb-10 mt-[60px] px-10">
						<p>Firstring Commmunications offers best in-class telecommunication products and services while serving Canadians with data connectivity from 
							Mobility, Internet-of-Things (IoT), Professional Services to Accessories.</p>
					</div>
					<div class="mb-10 text-center text-xl bg-gradient-to-r from-sky-950 to-cyan-300 hover:bg-gradient-to-r hover:from-gray-950 hover:to-sky-300 text-transparent bg-clip-text">
						<a href="https://www.firstring.ca" target="_blank">www.firstring.ca</a>
					</div>
				</div>

				<div class="w-full md:w-[48%] bg-white hover:bg-gray-100 rounded-lg border border-gray-200 p-5 justify-center items-center">
					<div class="my-10">
						<img class="mx-auto w-[70%]" src={firstDevelopmentsLogo.src} alt="First Developments Logo" />
					</div>
					
					<div class="mb-10 px-10">
						<p>Firstdevelopments is aimed to build modern residential homes featuring amazing floor plans. Our first project is underway and lookout for an announcement.</p>
					</div>
					<div class="mb-10 text-center text-xl bg-gradient-to-r from-sky-950 to-cyan-300 hover:bg-gradient-to-r hover:from-gray-950 hover:to-sky-300 text-transparent bg-clip-text">
						<a href="https://www.firstdevelopments.ca" target="_blank">www.firstdevelopments.ca</a>
					</div>
				</div>
			</div>

		</div>
		<div class="bg-gray-900 text-white p-5 w-full">
			<div class="container">
				<div>
					<img src={firstGroupLogo.src} alt="First Group Logo" class="w-[48px] bg-white m-10" />
				</div>
				<div class="text-center">
					Copyright © 2024, All Rights Reserved
				</div>
			</div>
			
		</div>

		
	</body>
</html>
